<form method="get" path="/quizes">
	<input type="text" name="search" placeholder="Búsqueda.."/>
	<input type="submit" value="Enviar"/>
</form>
<table id="quizes">
	<% var i; for (i=0; i < quizes.length; i++) { %>
		<tr><td><a href="quizes/<%= quizes[i].id %>"><%=quizes[i].pregunta %></a></td></tr>
	<% } %>
</table>
<a href="/quizes/new"><button type="button">Crear pregunta</button></a>